<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tunnel">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.4764 -9.4817 179.99"
        rpy="0 0 0" />
      <mass
        value="27830000" />
      <inertia
        ixx="75651000000"
        ixy="13456000"
        ixz="5.0294E-06"
        iyy="78814000000"
        iyz="8.566E-07"
        izz="4217300000" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tunnel/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tunnel/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>